body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.green-color{
    color:green;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width:60%;
    padding: 8%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 10px;
    font-weight: 700;
    color: violet; 
    border-radius: 5px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.DREAM-BIG{
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right ;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-iteam{
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 10px grey;
}